<!doctype html>

<html lang="en">
  <%- include('./partials/head.ejs') %>

<body>
  <%- include('./partials/nav.ejs') %>

    <div class='about content'>
      <h2>About</h2>
      <p>Lorum ipsum Lorum ipsum Lorum ipsum Lorum ipsum Lorum ipsum Lorum ipsum </p>
      <p>Lorum ipsum Lorum ipsum Lorum ipsum Lorum ipsum Lorum ipsum Lorum ipsum </p>
      <p>Lorum ipsum Lorum ipsum Lorum ipsum Lorum ipsum Lorum ipsum Lorum ipsum </p>
    </div>

    <%- include('./partials/footer.ejs') %>

<script src="js/scripts.js"></script>
</body>
</html>